<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间 对应dao层的名称/完整限定名-->
<mapper namespace="Teacher">
    <!--测试环境配置-->
    <select id="getTeacherByID" resultType="String">
        select teacherName from teacher where teacherID = #{teacherID}
    </select>
    <!--查询所有-->
    <select id="selectAll" resultType="com.scu.Entity.ManagerEntity.Teacher">
        select * from teacher order by teacherID asc
    </select>
    <!--查询teacherID-->
    <select id="selectTeacherByID"  resultType="com.scu.Entity.ManagerEntity.Teacher">
        select * from teacher where teacherID = #{teacherID}
    </select>
    <!--新增教师-->
    <insert id="uploadTeacher">
        insert into teacher(teacherID,teacherName,teacherAge,teacherSex,teacherOBTime,teacherTitle,teacherDept) values(#{teacherID}, #{teacherName},#{teacherAge},#{teacherSex},#{teacherOBTime},#{teacherTitle},#{teacherDept})
    </insert>
</mapper>